[user]
  name = Artur Dryomov
  email = artur.dryomov@gmail.com

[core]
  editor = vim
  pager = less
  excludesfile = ~/.gitignore

[color]
  ui = auto

[help]
  autocorrect = 1

[advice]
  statusHints = false

[push]
  default = upstream

[diff]
  compactionHeuristic = true

[pager]
  log = ${BREW_HOME}/share/git-core/contrib/diff-highlight/diff-highlight | less
  show = ${BREW_HOME}/share/git-core/contrib/diff-highlight/diff-highlight | less
  diff = ${BREW_HOME}/share/git-core/contrib/diff-highlight/diff-highlight | less
