[user]
  name = "Artur Dryomov"

[core]
  editor = "vim"
  pager = "less"
  excludesFile = "${HOME}/.gitignore"

[advice]
  statusHints = false

[help]
  autocorrect = "prompt"

[push]
  default = "upstream"

[pull]
  rebase = true
