# IDE

## IntelliJ IDEA

.idea/
*.iml

## Qt Creator

*.user

## Xcode

xcuserdata/
*.xcworkspace

# Build tools

## Gradle

.gradle/
build/

## Maven

target/

# Other

## Android

*.apk
*.properties

## OS X

.DS_Store

## Python

*.pyc
*.pyo
