[user]
  name = Artur Dryomov
  email = me@ming13.ru

[core]
  editor = vim
  pager = less

[color]
  ui = auto

[url "git://github.com/"]
  insteadOf = "gh:"

[url "git://gist.github.com/"]
  insteadOf = "gist:"
