snippet #!
	#!/usr/bin/env ${1:python3}
snippet cod
	# -*- coding: utf-8 -*-
snippet imp
	import ${1:sys}
snippet ifmain
	if __name__ == "__main__":
		${1:main()}
snippet def
	def ${1:process}(${2}):
		${3:pass}
snippet defs
	def ${1:process}(self, ${2}):
		${3:pass}
snippet for
	for ${1:element} in ${2:elements}:
		${3:pass}
snippet wh
	while ${1:position < len(elements)}:
		${2:passj
